/* General style */
html,body { height: 100%; margin: 0px; padding: 0px; }

body {
  background: #3f4a50;
  color: #ccc;
}

#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -156px;
    margin-left: -120px;
}

/* Helpers */
.nonselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
